body {
  overflow: auto;
  height: 100%;
}

.buttonsDiv {
  height: 400px;
  max-height: 33vh;
  display: flex;
  align-items: center;
}

.gameDiv {
  height: 40vh;
  max-height: 400px;
  max-width: 70vw;
  overflow:hidden;

  font-family: 'Anton', sans-serif;
  font-size: calc(10px + 1.5vw);
  font-weight: bold;
  text-align: center;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
  color: #E5B642;
}

.gameDiv > * {
  height: 1.5em;
  transform-origin: 50% 0;
  animation: result-animate .3s linear;
}

.logDiv {
  max-height: 33vh;
  font-size: 1em;

}

.logHeader {
  height: 1.5em;
  width: 400px;
  max-width: 70vw;
  background-color: #6e571f;
  font-family: Space Mono, monospace;
  color: #E5B642;
}

.logWindow {
  height: 7.5em;
  width:  400px;
    max-width: 70vw;
  background-color: #E5B642;
  font-family: Space Mono, monospace;
  overflow-y: scroll;
  overflow-x: auto;
  white-space: nowrap;
  padding: 0 10px;
}


.info {
  display: table;
  width: 100%;
  border-collapse: collapse;
  height: 1.5em;
}

.info > div {
  display: table-cell;
}


.info > div:nth-child(1) {
  text-align: right;
  width: 48%;
}

.info > div:nth-child(2) {
  text-align: center;
}

.info > div:nth-child(3) {
  text-align: left;
  width: 48%;
}

.finalResult {
  transform-origin: 50% 0;
  animation: result-animate .3s linear;
}

@keyframes result-animate {
	from {
		transform: scaleY(0);
		opacity: 0;
	}
	to {
		transform: scaleY(1);
		opacity: 1;
	}
}


/* ----------------- SCROLLBAR --------------- */
/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #bd9635;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6e571f;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #212529;
}

::-webkit-scrollbar-corner {
  background: #212529;
}
/* ----------------- SCROLLBAR --------------- */
